body{
    background-color:#00277f ;
    font-family: sans-serif;
}

.toggle_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.toggle_navtag{

text-decoration: none;
color: whitesmoke;
}

.toggle_navtag:hover{
    background-color: whitesmoke;
    height: 20px;
    width: 300px;
    border-radius: 5px;
    color: #00277f;
    text-align: center;
}

.toggle_button1{
height: 50px;
width: 211px;
background-color: whitesmoke;
border: solid whitesmoke;
border-radius: 5px;
}
.toggle_button1:hover{
    background-color: white;
}
.toggle_button2{
    height: 50px;
    width: 211px;
    background-color: #00277f;
border: solid#6610f2;
color: whitesmoke;
border-radius: 5px;
}
.toggle_button2:hover{
    background-color: #6610f2;
}