.container{
    background-color: aqua;
    height: 100vh;
border:5px solid tomato;
    display: flex;
    
}

h1{
    display: inline;
    font-size: 50px;
    color: whitesmoke;
}
.tablet{display: none;}
.mobile{display: none;}

.desktop{
   
    text-align: center;
    }


@media (max-width:786px) {
    .container{
        background-color: blueviolet;border:5px solid blue;}.tablet{display:flex;}.desktop{display: none;}.mobile{display: none;}
    .tablet{align-items: center;justify-items: center;margin-left: 30%;}
}
@media (max-width:576px) {
    .container{background-color: brown;border:5px solid black ;
       }
    .tablet{display: none;}.desktop{display: none;}.mobile{display:flex;}
    .mobile{
        align-items:flex-end;margin-left: 50%;}
}
