body{background-color: #F0F0F0;}

h1 {color: #279EFF;
    font-family: klavika;
    font-weight: bold;
    
font-size: 70px;}

.big_container{
    display: flex;
    gap: 300px;
    flex-wrap: nowrap;
    margin-top: 200px;
    margin-left: 50px;
}
.big_container > *{
    flex-basis: 500px;
}
.container1{
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
   
   
}
.container1 > *{
    flex-basis: 50px;
}
p{
font-size: 30px;

}
.container2{
    font-family: 'Mulish', sans-serif;
     background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    

    -moz-box-shadow: 3px 3px 3px #ccc;
-webkit-box-shadow: 3px 3px 3px #ccc;
box-shadow: 3px 3px 3px #ccc;
    
}
.container2,a{
    text-align: center;

}
.container2,input{
    font-size: larger;
    border-radius: 10px;
    border-color:#D8D9DA ;
   border-width: thin;
   
   
}
.container2 input:hover{
border-color: #279EFF;
}


input,
input::placeholder {
    font: 1.25rem/3 sans-serif;
   
}

@media (max-width:576px) {
    .big_container{flex-direction: column;
    gap: 5px;}
}

.create_account{
    
    width: 100%;
}
.login{
    width: 100%;
}
hr {
   
    width: 96%;
    color: #000000;
    height: 1px;
}



   